﻿
@{
    ViewData["Title"] = "CreateOrder";
}

<h1>Create a Order</h1>

<hr>

<h2>Order Form</h2>

<form asp-controller="Order" asp-action="CreateOrder" method="post" id="CreateOrderForm">
    <div class="form-group">
        <label for="CreateOrderName">Name</label>
        <input type="text" class="form-control" id="CreateOrderName" name="Name" placeholder="Enter your name">
        <small id="nameHelp" class="form-text text-muted">Put down your name so we know who you are</small>
    </div>
    <div class="form-group">
        <label for="CreateOrderFood">Food</label>
        <input type="text" class="form-control" id="CreateOrderFood" name="Food" placeholder="YOUR FOOD ORDER">
    </div>
    <div class="form-group">
        <label for="CreateOrderPrice">Price</label>
        <input type="number" class="form-control" id="CreateOrderPrice" name="Price" placeholder="State your expected price">
    </div>
    <button type="submit" class="btn btn-outline-danger" id="CreateOrderBtn">Submit</button>
    @if (ViewData["error"] != null)
    {
        <small id="createOrderError" class="form-text text-danger">Error: @ViewData["error"]</small>
    }
    <small id="createOrderErrorJS" class="form-text text-danger"></small>
</form>

<hr>

<a href="/Order">Back to Order Page</a>

@section scripts {
    <script src="~/js/Order/CreateOrder.js"></script>
}