﻿@using BLL.Contract.Models.Order;

@model List<ViewOrder>

@{
    ViewData["Title"] = "ViewOrder";
}



<h1>View the Orders</h1>

@if (Model == null)
{
    <p>no data in db</p>
}
else
{
    <table class="table" id="ViewOrderTable">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Food</th>
                <th scope="col">Price</th>
                <th scope="col">Date and Time</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th scope="col" id="sortName">
                    <a asp-controller="Order" asp-action="ViewOrder" asp-route-SortMethod="ascending" asp-route-SortColumn="Name">asc</a>
                    <a asp-controller="Order" asp-action="ViewOrder" asp-route-SortMethod="descending" asp-route-SortColumn="Name">des</a>
                </th>
                <th scope="col" id="sortFood">
                    <a asp-controller="Order" asp-action="ViewOrder" asp-route-SortMethod="ascending" asp-route-SortColumn="Food">asc</a>
                    <a asp-controller="Order" asp-action="ViewOrder" asp-route-SortMethod="descending" asp-route-SortColumn="Food">des</a>
                </th>
                <th scope="col" id="sortPrice">
                    <a asp-controller="Order" asp-action="ViewOrder" asp-route-SortMethod="ascending" asp-route-SortColumn="Price">asc</a>
                    <a asp-controller="Order" asp-action="ViewOrder" asp-route-SortMethod="descending" asp-route-SortColumn="Price">des</a>
                </th>
                <th scope="col" id="sortDatetime">
                    <a asp-controller="Order" asp-action="ViewOrder" asp-route-SortMethod="ascending" asp-route-SortColumn="Datetime">asc</a>
                    <a asp-controller="Order" asp-action="ViewOrder" asp-route-SortMethod="descending" asp-route-SortColumn="Datetime">des</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                <tr accesskey=@data.Id>
                    <td name="Name">@data.Name</td>
                    <td name="Food">@data.Food</td>
                    <td name="Price">@data.Price</td>
                    <td name="Datetime">@data.Datetime</td>
                </tr>
            }
        </tbody>
    </table>

    <hr>

    <h2>Filter Orders</h2>

    <form asp-controller="Order" asp-action="ViewOrder" method="get">
        <div class="form-group">
            <label for="NameLength">Length of Name longer than</label>
            <input type="number" class="form-control" id="NameLength" name="NameLength">
        </div>
        <div class="form-group">
            <label for="FoodLength">Length of Food longer than</label>
            <input type="number" class="form-control" id="FoodLength" name="FoodLength">
        </div>
        <div class="form-group">
            <label for="PriceRange">Price Higher than</label>
            <input type="number" class="form-control" id="PriceRange" name="PriceRange">
        </div>
        <button type="submit" class="btn btn-outline-danger" id="CreateOrderBtn">Submit</button>
    </form>
}

<a href="/Order">Back to Order Page</a>

<h1>@ViewData["test"]</h1>

@section  scripts {
    <script src="~/js/Order/ViewOrder.js"></script>
}