﻿
@{
    ViewData["Title"] = "Login";
}

<h1>User Login</h1>

<form asp-controller="User" asp-action="LoginUser" method="post" id="LoginUserForm">
    <div class="form-group">
        <label for="LoginUserUsername">Username</label>
        <input type="text" class="form-control" id="LoginUserUsername" name="Username" placeholder="Enter your username">
    </div>
    <div class="form-group">
        <label for="LoginUserEmail">Email</label>
        <input type="email" class="form-control" id="LoginUserEmail" name="Email" placeholder="e.g. example@simpleInjection.com">
    </div>
    <div class="form-group">
        <label for="LoginUserPassword">Password</label>
        <input type="password" class="form-control" id="LoginUserPassword" name="Password">
    </div>
    <button type="submit" class="btn btn-outline-primary" id="LoginUserBtn">Submit</button>
    @if (ViewData["Login"] != null)
    {
        <small id="LoginUserStatus" class="form-text text-danger">Status: @ViewData["Login"]</small>
    }
    <small id="LoginUserStatusJS" class="form-text text-danger"></small>
</form>

<hr>

<a href="/User">Back to User Page</a>

@section scripts {
    <script src="~/js/User/LoginUser.js"></script>
}