﻿
@{
    ViewData["Title"] = "RegisterUser";
}

<h1>New User Register</h1>

<hr>

<h2>Register Form</h2>

<form asp-controller="User" asp-action="RegisterUser" method="post" id="RegisterUserForm">
    <div class="form-group">
        <label for="RegisterUserUsername">Username</label>
        <input type="text" class="form-control" id="RegisterUserUsername" name="Username" placeholder="Enter your username">
    </div>
    <div class="form-group">
        <label for="RegisterUserEmail">Email</label>
        <input type="email" class="form-control" id="RegisterUserEmail" name="Email" placeholder="e.g. example@simpleInjection.com">
    </div>
    <div class="form-group">
        <label for="RegisterUserPassword">Password</label>
        <input type="password" class="form-control" id="RegisterUserPassword" name="Password">
    </div>
    <div class="form-group">
        <label for="RegisterUserConfirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="RegisterUserConfirmPassword" name="ConfirmPassword">
    </div>
    <button type="submit" class="btn btn-outline-primary" id="RegisterUserBtn">Submit</button>
    @if (ViewData["error"] != null)
    {
        <small id="RegisterUserError" class="form-text text-danger">Error: @ViewData["error"]</small>
    }
    <small id="RegisterUserErrorJS" class="form-text text-danger"></small>
</form>

<hr>

<a href="/User">Back to User Page</a>

@section scripts {
    <script src="~/js/User/RegisterUser.js"></script>
}